<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Самбо - наука обороны</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <div class="main-title">Самбо</div>
    
    <p><span class="highlight">Самбо — это наука обороны, а не нападения.</span><br>
    Самбо не только учит самообороне, но и дает боевой жизненный опыт, формирующий твердый уровень здоровья, навыки, и выносливость, которые необходимы в работе и общественной деятельности.</p>
    
    <div class="image-container">
        <img src="../img/1.jpg" alt="Техники самбо">
        <div class="image-caption">Фото: Базовые техники самбо</div>
    </div>
    
    <div class="subtitle">История возникновения и развития</div>
    
    <p>На практике самбо развивалось в двух направлениях: как массовый вид спорта и как средство подготовки личного состава для спецподразделений и охраны объектов.</p>
    
    <div class="two-columns">
        <div class="column">
            <p>С 1922 года в Московском спортивном обществе "Динамо" В. А. Спиридонов начинает развивать прикладную дисциплину — самозащиту. В дальневосточном регионе получило развитие боевых искусств и национальных видов борьбы народов мира.</p>
            
            <div class="image-container">
                <img src="../img/4.jpg" alt="В.А. Спиридонов">
                <div class="image-caption">В.А. Спиридонов</div>
            </div>
        </div>
        
        <div class="column">
            <p>Развитие самбо как системы связано с именем Е. С. Одинцова. В это время он преподает дзюдо в качестве учебной дисциплины в Московском институте физкультуры.</p>
            
            <div class="image-container">
                <img src="../img/3.jpg" alt="Е.С. Одинцов">
                <div class="image-caption">Е.С. Одинцов</div>
            </div>
        </div>
    </div>
    
    <p>Официальное признание самбо получило 16 ноября 1938 года. Именно в этот день был издан приказ Всесоюзного комитета по делам физкультуры и спорта, в котором самбо признавалось "чрезвычайно ценным по своему многообразию техники и прикладному значению" видом спорта.</p>
    
    <div class="quote">
        "Самбо давно стало признанным видом спорта!"<br>
        <span class="signature">В. В. Путин</span>
    </div>
    
    <div class="image-container">
        <img src="../img/2.jpg" alt="Соревнования по самбо">
        <div class="image-caption">Фото: Чемпионат по самбо</div>
    </div>
    
    <div class="subtitle">Приёмы</div>

    <button class="btn" id="add_priem">Добавить приём</button>
    <button class="btn" id="delete_priem" onclick="window.myDialog.show()">Удалить</button>

    <dialog id="myDialog">
        <input type="text" id="dialog_id">
        <button id="delete_ok" onclick="window.myDialog.close()">OK</button>
    </dialog>

    <div id="columns"></div>

</body>
<script src="../js/main.js"></script>
</html>